.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

form h3 {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid pink;
    border-radius: 5px;
    font-size: 14px;
}

input[type="email"],
input[type="usuario"],
input[type="senha"] {
    display: block;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #6a1b9a;
}


